# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/api-generator/spring-api-interface/
/api-generator/ts-client-api/
/api-generator/node_modules/
/frontend-wadloader3/.yalc/
/api-generator/package-lock.json
/frontend-wadloader3/yalc.lock
/wadloader3/.vite/
/wadloader3/.yalc/
/wadloader3/node_modules/
/wadloader3/src/main/resources/application-local.properties
/wadloader3/yalc.lock
/db/
/http-client.env.json
/WadRequests.http
/wadloader3/src/test/resources/application-local.properties
/api-download-generator/ts-client-api/
/api-download-generator/node_modules/
/api-download-generator/spring-api-interface/
/api-download-generator/package-lock.json
